#width1 {
    border: 5px solid black;
}

#width2 {
    border: 3px solid black;
}

#width3 {
    border: 2px solid black;
}

#width4 {
    border: 4px solid black;
}

#width5 {
    border: 6px solid black;
}