h1 {
    border: 5px dashed purple;
    color: purple;
}

.f1class {
    border: 3px solid rgb(236, 86, 86);
    color: rgb(236, 86, 86);
    font-size: 1.5em;
}

.s2class {
    border: 3px inset;
    color: green;
    font-size: 1.5em;
}