* {
    box-sizing: border-box;
}

.mainbox {
    background-color: green;
    width: 400px;
    height: 150px;
    border: 10px solid black;
}

.mainbox-text {
    color: darkred;
    text-align: center;
    margin-top: 40px;
}